body {
  background-image: url('../assets/images/backgrounds/CHARLOTTA_noTEXT.png');
  background-size: contain;          /* preserves aspect ratio */
  background-position: top left;     /* aligns it to top left */
  background-repeat: no-repeat;      /* don’t tile it */
  background-attachment: fixed;      /* keeps it pinned on scroll */
  background-color: #620b1f;         /* fallback color for empty areas */
}

footer {
  background-color: #4a0e1a; /* deep wine tone, matches CHARLOTTA mood */
  color: #fff;               /* optional: ensure text/logos stay readable */
}


footer.Logo {
  padding: 5px;
  margin: 5px;
}

footer .Logo img {
  width: 110px; /* Set the desired width */
  height: auto;
  display: block;
}
.charlotta-sidebar {
  position: fixed;
  right: 0;
  top: 0px; /* adjust depending on header height */
  width: 330px;
  background-color: #330404;
  color: #cadbda;
  padding: 20px;
  
  z-index: 10;
  height: 100vh;
  overflow-y: auto;
}
  

.title {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #ffc0d7;
}

.charlotta-description p {
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.file-description {
  font-size: 0.85em;
  color: #b8c1c8;
  margin-top: 15px;
  line-height: 1.4;
}

.file-description p {
  margin: 4px 0;
}

.file-description span {
  color: #e2547c;
}





.download-btn {
  display: inline-block;
  margin-top: 1em;
  padding: 10px 15px;
  background-color: #0C0101;
  color: #e2547c;
  text-decoration: none;
  border-radius: 2px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.download-btn:hover {
  background-color: #FFFFE5;
}

.Logo a {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  
  border-bottom: 2px solid transparent;
}

.Logo a:hover {
  background-color: #D12466; /* or a color that fits your CHARLOTTA theme */
  transition: background-color 0.5s ease-in-out;
}


  

@media (max-width: 768px) {
  body {
    display:flex;
    flex-direction: column;  
  } 

  .charlotta-sidebar {
    position: static;
    width: 80%;
    height: auto;
    box-shadow: none;
    margin-top: 20px;
  }
}
